.question-mark {
  display: inline-block;
}

.frequently-asked-questions {
  background: $service-category-overview-background-color;
  padding: em(38px) em(50px);
}

.frequently-asked-question {
  margin: em(20px) 0;
}
