.service-download,
.service-downloads {
  background: $white;
  border: 20px solid $content-background-color;
  color: $white;
}

@include media('>=1024px') {
  .service-downloads-wrap {
    margin: em(10px) 0 0;
  }
}

.service-download-title {
  font-weight: $service-download-title-font-weight;
  line-height: 1.1;
  margin: 0 0 em(24px, 13px);
}

.service-download-content {
  color: $white;
  padding: em(24px);
}

.service-download-read-more {
  @extend %read-more;
  border-color: $white;
  color: $white;

  @include media('>=desktop') {
    margin-top: 0;
  }

  &:link,
  &:visited,
  &:active {
    color: $white;
  }

  &:hover {
    background: $service-download-read-more-hover;
    color: $white;
    text-decoration: none;
  }
}

.service-download-overview {
  color: $white;
  font-family: $service-download-summary-font;
  font-size: em(13px);
  margin: 0;
}
