.service-download {
  background: $content-background-color;
}

@include media('>=1024px') {
  .service-downloads-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.service-download-title {
  font-weight: $service-download-title-font-weight;
  line-height: 1.1;
  margin: 0 0 em(24px, 13px);
}

.service-download-content {
  padding: em(24px);
}

.service-download-read-more {
  @extend %read-more;

  @include media('>=desktop') {
    margin-top: 0;
  }

  &:hover {
    background: $service-download-read-more-hover;
    color: $white;
    text-decoration: none;
  }
}

.service-download-overview {
  color: $service-download-summary-color;
  font-family: $service-download-summary-font;
  font-size: em(13px);
  margin: 0;
}
