.question-mark {
  background: $light-purple;
  border-radius: 50%;
  color: $white;
  display: block;
  float: left;
  font-family: $times-new-roman;
  font-size: em(48px);
  height: 55px;
  line-height: 55px;
  margin: 0 em(20px, 48px) em(5px, 48px);
  text-align: center;
  width: 55px;
}

.frequently-asked-questions {
  background: $service-category-overview-background-color;
  padding: em(38px) 0;

  .widget-title {
    border-bottom: 1px solid $grey;
    padding: 0 em(50px, 16px) em(36px, 16px);
  }
}

.frequently-asked-questions-list-wrap {
  @extend %clearfix;
}

.frequently-asked-questions-list-half-width {
  float: left;
  padding: 0 em(20px);
  width: 50%;
}

.frequently-asked-questions-list {
  @extend %clearfix;
  padding: 0 em(50px);
}

.frequently-asked-question {
  border-bottom: 3px solid $grey;
  float: left;
  margin: em(20px) 0;
  padding: 0 0 em(30px);
  width: 100%;

  p {
    margin-bottom: 0;
  }
}

.frequently-asked-question-link {
  color: $primary-text-color;
  font-size: em(15px);
  font-weight: $open-sans-bold;
}

.frequently-asked-question-content {
  overflow: hidden;
}
