.service-video {
  background: $content-background-color;
  height: 100%;
}

.service-video-image {
  position: relative;
  background: $content-background-color;
}

.service-video-category {
  background: transparent image-url('components/service-video/triangle.png') 20px bottom no-repeat;
  bottom: -25px;
  color: $service-video-category-color;
  font-weight: $service-video-font-weight;
  left: 28px;
  letter-spacing: 2px;
  position: absolute;
  text-transform: uppercase;

  &.full-widget {
    left: 0;
    top: 0;
    bottom: initial;
  }
}

.service-video-category-name {
  background: $service-video-category-background;
  margin: 0 0 em(25px);
  padding: em(12px) em(12px) em(8px);
}

.service-video-overview {
  background: $content-background-color;
  padding: em(28px);
  margin: 0 0 em(38px);

  @include media('<tablet') {
    margin: 0 0 em(15px);
  }

  p {
    color: $service-video-overview-color;
    font-family: $service-video-overview-font;
    font-size: em(13px);
    line-height: 1.4;
    margin: 0;
  }
}

.service-video-title {
  font-size: em(20px);
  font-weight: $service-video-font-weight;
  margin: 0 0 em(24px, 24px);
}
