<%= content_for :head do %>
  <script>
  $(function() {
    $('.activity-stream-headline:first').click();
  })
  </script>
<% end %>

<div class="medium-6 columns" data-equalizer-watch="additional-content">
  <div class="activity-stream">
    <h3>Activity Stream</h3>

    <%= render partial: 'articles/activity_stream', collection: @presented_service_articles, as: :article_presenter %>
  </div>
</div>
