<%= content_for :head do %>
  <script>
  $(function() {
    $('.activity-stream-headline:first').click();
  })
  </script>
<% end %>

<div class="activity-stream-widget" data-animation-type="slideInLeft" data-animation-delay="500">
  <div class="activity-stream">
    <h3>Latest News</h3>

    <%= render partial: 'articles/activity_stream', collection: @presented_service_articles, as: :article_presenter %>
  </div>
</div>
