<div class="medium-6 columns" data-animation-type="slideInLeft">
  <div class="people-helped-widget" id="people-helped">
    <h4 class="people-helped-title">
      People Helped
      <div class="people-helped-count">
        11,223
      </div>
    </h4>

    <p>
      We help families all over the UK, together through life's ups and downs.
    </p>

    <div class="people-helped-service-wrap"  data-animation-type="slideInUp">
      <div class="people-helped-service-name">
        Divorce and separation
      </div>
      <div class="people-helped-service-progress" style="width:55%;">
        75%
      </div>
    </div>

    <div class="people-helped-service-wrap"  data-animation-type="slideInUp" data-animation-delay="500">
      <div class="people-helped-service-name">
        Child arrangements
      </div>
      <div class="people-helped-service-progress" style="width:60%;">
        65%
      </div>
    </div>

    <div class="people-helped-service-wrap"  data-animation-type="slideInUp" data-animation-delay="500">
      <div class="people-helped-service-name">
        Financial settlements
      </div>
      <div class="people-helped-service-progress" style="width:63%;">
        75%
      </div>
    </div>

    <%= link_to 'Find out why', '#', class: 'people-helped-button' %>
  </div>
</div>
