<div class="medium-6 columns">
  <div class="people-helped-widget">
    <h4 class="people-helped-title">
      People Helped
      <div class="people-helped-count">
        11,223
      </div>
    </h4>

    <p>
      In the last year, we’ve helped people all over the UK with their claims
    </p>

    <div class="people-helped-service-wrap">
      <div class="people-helped-service-name">
        Medical Negligence
      </div>
      <div class="people-helped-service-progress" style="width:55%;">
        75%
      </div>
    </div>

    <div class="people-helped-service-wrap">
      <div class="people-helped-service-name">
        Personal Injury
      </div>
      <div class="people-helped-service-progress" style="width:35%;">
        75%
      </div>
    </div>

    <%= link_to 'Find out why', '#', class: 'people-helped-button' %>
  </div>
</div>
