<div data-animation-type="slideInLeft"  data-equalizer-watch="statistics">
  <div class="people-helped-widget small" id="people-helped">
    <h4 class="people-helped-title">
      We’ve already helped over
    </h4>

    <div class="people-helped-count">
      1,000,000
    </div>

    <h4 class="people-helped-title">
      movers
    </h4>
  </div>
</div>
