<%= content_for :footer do %>
  <script>
    $('.service-testimonial').slick({
      fade: true,
      infinte: true,
      dots: false,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 5000
    });
  </script>
<% end %>

<div class="service-resources-wrap">
  <div class="row" data-equalizer="service-resources">
    <div class="medium-4 columns" id="testimonials" data-animation-type="slideInLeft" data-animation-delay="750" data-equalizer-watch="service-resources">
      <div class="service-testimonial">
        <%= render partial: 'testimonials/service_testimonial', collection: @presented_service_testimonials, as: :testimonial_presenter %>
      </div>
    </div>

    <div class="medium-4 columns" id="tweets" data-animation-type="slideInLeft" data-animation-delay="500" data-equalizer-watch="service-resources">
      <div class="service-twitter">
        <p>
          A whole lot of inspiration you can get from the vast variety of
          combinations
        </p>

        <span class="service-twitter-username">Twitter User</span>
      </div>
    </div>

    <div class="medium-4 columns"  data-animation-type="slideInLeft" data-equalizer-watch="service-resources">
      <div class="service-download" id="downloads">
        <div class="service-download-image">
          <%= image_tag 'http://placehold.it/600x200' %>
        </div>

        <div class="service-download-content">
          <div class="service-download-title">
            Download our Step by Step Guide to Relationship Breakdown
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <p class="service-download-overview">
                Lorem ipsum dolor sit amet, sapien aliqua sollicitudin, eu
                consequatur, libero massa. Id nisl, blandit dui.
              </p>
            </div>

            <div class="medium-4 columns">
              <%= link_to 'Download', '#', class: 'service-download-read-more' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
