<div class="service-row row" data-equalizer="service-resources">
  <div class="medium-4 columns" id="testimonials" data-animation-type="slideInLeft" data-animation-delay="750" data-equalizer-watch="service-resources">
    <div class="service-testimonial" id="testimonials">
      <%= render partial: 'testimonials/service_testimonial', collection: @presented_service_testimonials, as: :testimonial_presenter %>
    </div>
  </div>

  <div class="medium-8 columns" data-equalizer-watch="service-resources">
    <%= render 'services/twitter' %>

    <div data-animation-type="slideInLeft" id="downloads" class="service-downloads-wrap">
      <%= render partial: 'downloads/service_download' if @service.downloads.present? %>
    </div>
  </div>
</div>
