<div class="medium-6 columns" data-animation-type="slideInRight">
  <div class="service-video"  data-equalizer-watch="statistics">
    <div class="service-video-image" id="videos">
      <%= @presented_video.activity_stream_image(alt: @presented_video.name) %>

      <div class="service-video-category">
        <div class="service-video-category-name">
          <%= @presented_video.video_category_name %>
        </div>
      </div>
    </div>

    <div class="service-video-overview">
      <div class="service-video-title">
        <%= @presented_video.name %>
      </div>

      <%= @presented_video.summary %>
    </div>
  </div>
</div>
