<div class="medium-6 columns">
  <div class="service-video-image">
    <%= image_tag 'http://placehold.it/600x300' %>

    <div class="service-video-category">
      <div class="service-video-category-name">
        Client Journey
      </div>
    </div>
  </div>

  <div class="service-video-overview">
    <div class="service-video-title">
      This is a headline for the video to play above
    </div>

    <p>
      Lorem ipsum dolor sit amet, sapien aliqua sollicitudin, eu consequatur, libero massa. Id nisl, blandit dui. Accumsan iaculis. In felis et. In mi, at nullam bibendum. At vestibulum. Amet velit sed, suscipit nulla pede.
    </p>
  </div>
</div>
