<div class="medium-3 columns service-category-navigation" data-equalizer-watch>
  <%= link_to "View All #{@presented_department.name} Services", '#', class: 'service-category-services-sidebar-toggle toggle-class show-for-small', data: { container: '.service-category-services-sidebar', class: 'hide-for-small', return: 'false' } %>
  <ul class="service-category-services-sidebar hide-for-small" id="services">
    <%= render partial: 'departments/service_navigation', collection: BaseCollectionPresenter.new(collection: @presented_department.services, view_template: self, presenter: ServicePresenter), as: :service_presenter %>
  </ul>
</div>
