<div class="medium-3 columns service-category-navigation" data-equalizer-watch>
  <ul class="service-category-services-sidebar">
    <%= render partial: 'service_categories/service_navigation', collection: BaseCollectionPresenter.new(collection: @presented_service_category.services, view_template: self, presenter: ServicePresenter), as: :service_presenter %>
  </ul>
</div>
