<div id="tweets" data-animation-type="slideInLeft" data-animation-delay="500">
  <div class="service-twitter" id="twitter">
    <p>
      A whole lot of inspiration you can get from the vast variety of
      combinations
    </p>

    <span class="service-twitter-username">Twitter User</span>
  </div>
</div>
