<div id="tweets" data-animation-type="slideInLeft" data-animation-delay="500">
  <div class="service-twitter" id="twitter">
    <p>
      <%= raw twitter_timeline_text(0, global_site_settings['Twitter']) %>
    </p>

    <span class="service-twitter-username"><%= twitter_timeline_ago(0, global_site_settings['Twitter']) %></span>
  </div>
</div>
