<%= render 'optimadmin/shared/header/main_title', title: 'New Business Partner' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: business_partners_path, title: 'Business Partner' %>

  <%= render 'form', business_partner: @business_partner %>
</div>