<div class="medium-3 columns">
  <div class="download">
    <div class="download-image">
      <%= download_presenter.homepage_image %>
    </div>


    <div class="download-content">
      <div class="download-category">
        <%= download_presenter.category_name %>
      </div>

      <div class="download-title">
        <%= download_presenter.title %>
      </div>
    </div>
  </div>
</div>
