<div class="service-download" id="downloads">
  <div class="row">
    <div class="medium-4 columns">
      <div class="service-download-image">
        <%= @presented_download.index_image %>
      </div>
    </div>

    <div class="medium-8 columns">
      <div class="service-download-content">
        <div class="service-download-title">
          <%= @presented_download.title %>
        </div>

        <div class="row">
          <div class="medium-12 large-8 columns">
            <div class="service-download-overview">
              <%= @presented_download.summary %>
            </div>
          </div>

          <div class="medium-12 large-4 columns">
            <%= @presented_download.download_button %>
          </div>
        </div>
      </div>
    </div>
  </div>





</div>
