<div class="medium-4 columns" data-equalizer-watch>
  <div class="pricing-band first">
    <div class="pricing-band-type">
      Band 3
    </div>

    <div class="pricing-band-title">
      Bespoke Hourly Rates £POA
    </div>

    <p class="pricing-band-summary">
      Not many divorces are simple, if you fear complications down the line, let us help.
    </p>

    <span class="pricing-band-number" aria-hidden="true">
      3
    </span>
  </div>
</div>
