<div class="medium-4 columns" data-equalizer-watch>
  <div class="pricing-band first">
    <div class="pricing-band-type">
      Band 1
    </div>

    <div class="pricing-band-title">
      Amicable Divorce £120
    </div>

    <p class="pricing-band-summary">
      If you're not fighting like cat and dog, and you just need
      the paperwork and the formalities sorted.
    </p>

    <span class="pricing-band-number" aria-hidden="true">
      1
    </span>
  </div>
</div>
