<div class="medium-4 columns" data-equalizer-watch>
  <div class="pricing-band second">
    <div class="pricing-band-type">
      Band 2
    </div>

    <div class="pricing-band-title">
      Manage My Divorce £600
    </div>

    <p class="pricing-band-summary">
      Our tailored service for when things are a little more complex, and you need to bridge the gap before you decide how to move forward.
    </p>

    <span class="pricing-band-number" aria-hidden="true">
      2
    </span>
  </div>
</div>
