<div class="collected-article">
  <%= link_to '#', title: 'Article title' do %>
    <%= image_tag 'http://placehold.it/316x164', alt: 'Article title' %>

    <div class="article-title">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>

    <p class="article-summary">
      Duis pharetra lorem tortor, et faucibus mi rutrum nec. Nulla rutrum faucibus est, in rhoncus mauris laoreet eu. In hac habitasse platea dictumst.
    </p>

    <div class="article-detail">
      in Press Releases
    </div>

    <div class="article-detail">
      by John Smith
    </div>

    <div class="article-date text-right">
      23 hours ago
    </div>
  <% end %>
</div>
