<%= render 'optimadmin/shared/header/main_title', title: 'Edit Service Category' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: service_categories_path, title: 'Service Category' %>

  <%= render 'form', service_category: @service_category %>
</div>