<div class="row">
    <div class="small-12 columns">
      <div class="service-category-overview-content-wrap">
        <div class="row collapse">
          <div class="small-12 medium-8 columns" data-animation-type='fadeIn' data-animation-delay='250'>
            <div class="service-category-inner-content">
              <h2 class="service-category-overview-header">About <%= @presented_service_category.name %></h2>

              <div class="row">
                <div class="small-12 medium-4 columns">
                  <% # TODO: Make this dynamic %>
                  <p class="service-category-overview-paragraph">At Harrison &amp; Campbell, we believe Family Law requires a very different approach to many other areas where we practise.</p>
                </div>

                <div class="small-12 medium-8 columns">
                  <div class="service-category-overview-content">
                    <%= @presented_service_category.summary %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="small-12 medium-4 columns" data-animation-type='fadeInRight' data-animation-delay='500'>
            <%= @presented_service_category.show_image %>
          </div>
        </div>
      </div>
    </div>
  </div>
