<div class="team-member-service-carousel">
  <%= team_member_presenter.show_image %>

  <div class="team-members-service-carousel-name">
    <%= team_member_presenter.name %>
  </div>

  <div class="team-members-service-carousel-role">
    <%= team_member_presenter.role %>
  </div>
</div>
