<div class="team-member-service-carousel">
  <%= image_tag 'http://placehold.it/223x203' %>

  <div class="team-members-service-carousel-name">
    John Smith
  </div>

  <div class="team-members-service-carousel-role">
    The job title which can be very long sometimes
  </div>
</div>
