<div class="home-content-block">
  <div class="row">
    <div class="small-12 columns">
      <h6>Business we partner with...</h6>

      <ul class="clients">
        <li>
          <%= image_tag 'http://placehold.it/125x80' %>
        </li>
      </ul>
    </div>
  </div>
</div>
