<div class="hero">
  <div class="hero-content-wrap">
    <div class="row">
      <div class="small-12 columns">
        <h1 class="hero-primary-title" data-animation-type="fadeIn" data-animation-delay="500">Providing legal services</h1>
        <h2 class="hero-secondary-title">
          <span data-animation-type="slideInDown" data-animation-delay="1250">
            For Business
          </span>

          <span class="ampersand" data-animation-type="slideInDown" data-animation-delay="2000">
            &amp;
          </span>

          <span data-animation-type="slideInDown" data-animation-delay="2750">
            For You
          </span>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="hero-department-wrap"  data-equalizer="hero-departmens">
  <div class="row collapse">
    <%= render partial: 'departments/department', collection: @presented_departments, as: :department_presenter %>
  </div>
</div>
