<%= content_for :footer do %>
  <script>
    $('.partners').slick({
      slidesToShow: 6,
      slidesToScroll: 6,
      infinte: true,
      dots: true,
      arrows: true
    });
  </script>
<% end %>

<div class="home-content-block" data-animation-type="slideInLeft">
  <div class="row collapse">
    <div class="small-12 columns">
      <div class="content-block text-center">
        <h6 class="partners-header">Business we partner with...</h6>

        <ul class="partners">
          <%= render partial: 'partners/partner', collection: @presented_business_partners, as: :business_partner_presenter %>
        </ul>
      </div>
    </div>
  </div>
</div>
