<div class="row">
  <div class="small-12 columns">
    <nav class="breadcrumbs">
      <ul>
        <% navigation.each_with_index do |n, index| %>
          <li data-animation-type='slideInUp' data-animation-delay='<%= index + 1 %>00'><%= link_to n[:title], n[:url], class: 'breadcrumb-link' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
