<div class="row">
  <div class="small-12 columns">
    <nav class="breadcrumbs">
      <ul>
        <li data-animation-type='slideInUp'><%= link_to 'Services', '#', class: 'breadcrumb-link' %></li>
        <li data-animation-type='slideInUp' data-animation-delay='500'><%= link_to 'Personal Legal', '#', class: 'breadcrumb-link' %></li>
        <li data-animation-type='slideInUp' data-animation-delay='750'><%= link_to 'Family', '#', class: 'breadcrumb-link' %></li>
      </ul>
    </nav>
  </div>
</div>
