<% [0, 1, 2].each do |index| %>
  <div>
    <p class="tweet"><%= raw twitter_timeline_text(index, global_site_settings['Twitter']) %></p>

    <p class="tweet-time"><%= twitter_timeline_ago(index, global_site_settings['Twitter']) %></p>
  </div>
<% end %>
