<div class="medium-8 columns" data-equalizer-watch="event-focus">
  <div class="service-calendar-wrap">
    <h6>Events</h6>

    <div class="row collapse">
      <div class="medium-6 columns">
        <div class="service-event-focus" data-animation-type="slideInLeft">
          <div class="service-event-date focus">
            <strong>18</strong>/04
          </div>

          <div class="service-event-focus-title">
            The Telegraph Outdoor Adventure and Travel
          </div>

          <div class="service-event-overview">
            Must for all bike, sport, travel and outside enthusiasts with plenty of information
          </div>
        </div>
      </div>

      <div class="medium-6 columns service-events-list">
        <div class="row collapse">
          <div class="medium-6 columns">
            <div class="service-event-list-inner" data-animation-type="slideInDown" data-animation-delay="500">
              <div class="service-event-date">
                <div class="service-event-date-inner">
                  19/04
                </div>
              </div>

              <%= link_to 'The Edible Garden Show and Good Life Live', '#', class: 'service-event-title' %>
            </div>
          </div>

          <div class="medium-6 columns no-right-border">
            <div class="service-event-list-inner" data-animation-type="slideInDown" data-animation-delay="1000">
              <div class="service-event-date">
                <div class="service-event-date-inner">
                  22/04
                </div>
              </div>

              <%= link_to 'Imagine Children’s Festival', '#', class: 'service-event-title' %>
            </div>
          </div>
        </div>

        <div class="row collapse">
          <div class="medium-6 columns">
            <div class="service-event-list-inner" data-animation-type="slideInUp" data-animation-delay="1500">
              <div class="service-event-date">
                <div class="service-event-date-inner">
                  25/04
                </div>
              </div>

              <%= link_to 'WOW: Women of the World Festival', '#', class: 'service-event-title' %>
            </div>
          </div>

          <div class="medium-6 columns no-right-border">
            <div class="service-event-list-inner" data-animation-type="slideInUp" data-animation-delay="2000">
              <div class="service-event-date">
                <div class="service-event-date-inner">
                  27/04
                </div>
              </div>

              <%= link_to 'Clerkenwell Design Week', '#', class: 'service-event-title' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
