<div class="large-6 columns <%= cycle '', 'no-right-border' %>">
  <div class="service-event-list-inner" data-animation-type="slideInDown" data-animation-delay="500">
    <%= link_to event_presenter.link, class: 'service-event-link' do %>
      <div class="service-event-date">
        <div class="service-event-date-inner">
          <%= event_presenter.start_date %>
        </div>
      </div>

      <%= event_presenter.title %>
    <% end %>
  </div>
</div>
