.fixed-call-to-actions {
  @extend %clearfix;
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 9999;

  @include media('<tablet') {
    width: 100%;
  }
}

.call-to-action {
  display: block;
  float: right;
  font-family: $call-to-action-font;
  font-size: em(13px);
  padding: em(30px, 13px) em(19px, 13px) em(18px, 13px);
  text-transform: uppercase;
  width: 45%;

  @include media('<tablet') {
    font-size: em(10px, 13px);
    padding: em(5px, 12px);
    width: 50%;
  }

  span {
    display: inline-block;
    width: 80%;
  }

  &:link,
  &:visited {
    color: $call-to-action-text-color;
  }

  &:hover,
  &:active {
    color: $call-to-action-text-color;
  }

  &.callback {
    background: $request-a-callback-button image-url('layout/call-to-actions/phone.png') no-repeat 92% 10px;

    @include media('<tablet') {
      background-position: 100% 0;
    }
  }

  &.lawyer-search {
    background: $find-a-lawyer-button image-url('layout/call-to-actions/lawyer.png') no-repeat 92% 10px;

    @include media('<tablet') {
      background-position: 100% 2px;
    }
  }
}

.modal-call-to-action {
  bottom: 0;
  box-shadow: rgba(0, 0, 0, .29) -4px 0 5px 0;
  color: $call-to-action-text-color;
  padding: 3% 0 0;
  z-index: 9999;

  @include media('<tablet') {
    padding-bottom: em(35px);
    position: static;
  }

  @include media('<desktop', '>=tablet') {
    left: 0;
    margin: 10% auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 95%;
  }

  @include media('>=desktop') {
    left: 0;
    margin: 10% auto;
    min-height: 70%;
    position: fixed;
    right: 0;
    top: 0;
    width: 65%;
  }

  .row {
    max-width: 940px;
    width: 100%;
  }

  &.callback {
    background: $request-a-callback-modal-background;
  }

  &.lawyer-search {
    background: $find-a-lawyer-modal-background;
  }
}

.ie8 .modal-call-to-action,
.ie9 .modal-call-to-action {
  @extend %clearfix;
  height: 100%;
  top: -120px;
  width: 90%;

  .row {
    width: 90%;
  }
}

.modal-call-to-action-header {
  border-bottom: 3px solid $call-to-action-header-border-color;
  color: $white;
  font-size: em(15px);
  line-height: 1.4;
  margin: em(12px, 15px) 0;
  padding: 0 0 em(9px, 15px);
  text-align: center;
}

.modal-call-to-action-form {
  margin: em(20px) 0 0;

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"],
  input[type='search'],
  textarea,
  select {
    font-size: em(14px);
    padding: em(8px, 14px) em(12px, 14px);
  }

  .actions {
    text-align: center;
  }
}

.modal-call-to-action-content p {
  font-family: $call-to-action-font;
  font-size: em(13px);
  line-height: 1.6;
}

.modal-call-to-action-button {
  background: $call-to-action-header-border-color;
  color: $call-to-action-text-color;
  float: right;
  font-family: $call-to-action-font;
  font-size: em(12px);
  letter-spacing: 1px;
  padding: em(9px, 12px) em(25px, 12px);
  text-align: center;

  &:link,
  &:visited {
    color: $call-to-action-text-color;
  }

  &:hover,
  &:active {
    color: $call-to-action-text-color;
    cursor: pointer;
  }
}

.modal-call-to-action-small-print {
  @include color-rgba($call-to-action-text-color, .61);
  font-size: em(11px);
  text-align: center;

  @include media('>=tablet') {
    margin: em(21px, 11px) em(117px, 11px);
  }
}

%call-to-action-style {
  display: block;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin call-to-action-styles($background, $color, $icon) {
  background: $background image-url($icon) 20px 25px no-repeat;
  color: $color;
  position: relative;

  @include media('>=tablet', '<desktop') {
    background-position: 4px 7px;
    font-size: em(12px);
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $color;
    display: block;
    padding: em(30px) 0 em(30px) em(70px);

    @include media('>=tablet', '<desktop') {
      padding: em(15px) em(15px) em(15px) em(45px);
    }
  }
}

.call-to-action-1 {
  @extend %call-to-action-style;
  @include call-to-action-styles(
    $call-to-action-link-1-background,
    $call-to-action-link-1-color,
    'components/icons/call-to-actions/call-to-action-1.png'
  );

  .call-to-action-1-content {
    background: $call-to-action-link-1-background;
  }
}

.call-to-action-2 {
  @extend %call-to-action-style;
  @include call-to-action-styles(
    $call-to-action-link-2-background,
    $call-to-action-link-2-color,
    'components/icons/call-to-actions/call-to-action-2.png'
  );

  .call-to-action-2-content {
    background: $call-to-action-link-2-background;
  }
}

.call-to-action-3 {
  @extend %call-to-action-style;
  @include call-to-action-styles(
    $call-to-action-link-3-background,
    $call-to-action-link-3-color,
    'components/icons/call-to-actions/call-to-action-3.png'
  );

  .call-to-action-3-content {
    background: $call-to-action-link-3-background;
  }
}

.call-to-action-4 {
  @extend %call-to-action-style;
  @include call-to-action-styles(
    $call-to-action-link-4-background,
    $call-to-action-link-4-color,
    'components/icons/call-to-actions/call-to-action-4.png'
  );

  .call-to-action-4-content {
    background: $call-to-action-link-4-background;
  }
}

.call-to-action-5 {
  @extend %call-to-action-style;
  @include call-to-action-styles(
    $call-to-action-link-5-background,
    $call-to-action-link-5-color,
    'components/icons/call-to-actions/call-to-action-5.png'
  );

  .call-to-action-5-content {
    background: $call-to-action-link-5-background;
  }
}

.call-to-action-content-wrap {
  @include media('<desktop') {
    padding: em(15px);
  }

  @include media('>=desktop') {
    padding: em(30px) em(30px) em(30px) em(70px);
  }
}

.call-to-action-content {
  font-family: $call-to-action-content-font;
  font-size: em(18px);
  font-weight: $call-to-action-content-font-weight;
  margin: 0 0 em(22px, 18px);
}
