footer {
  background: $footer-background-color;
  padding: em(36px) 0;
  text-align: center;

  h6 {
    color: $footer-text-color;
  }
}

.footer-awards-and-accreditations {
  margin: em(35px) 0 em(20px);

  @include media('<tablet') {
    margin: em(15px) 0;
  }
}

.footer-awards-and-accreditations-list {
  list-style: none;

  li {
    display: inline-block;
    margin: 0 em(15px);

    @include media('<tablet') {
      margin: em(15px);
    }
  }
}

.footer-microcopy {
  @include color-rgba($footer-text-color, 0.5);
  font-size: em(10px);
  line-height: 1.6;
  margin: em(27px, 10px) 0 0;
}
