%service-category-paragraph {
  color: $service-category-main-text-color;
  font-family: $service-category-main-text-font;
  font-size: em(13px);
  margin: em(18px, 13px) 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.service-category-overview-content-wrap {
  background: $service-category-overview-background-color;
  margin: 0 0 em(20px);
}

.service-category-overview-content {
  p {
    @extend %service-category-paragraph;
  }
}

.service-category-overview-header {
  border-bottom: 6px solid $service-category-title-border-color;
  color: $service-category-title-text-color;
  font-size: em(36px);
  font-weight: $service-category-title-font-weight;
  margin: 0 0 em(34px, 36px);
  padding: 0 0 em(23px, 36px);
}

.service-category-overview-paragraph {
  color: $service-category-overview-paragraph-text-color;
  font-size: em(24px);
  font-weight: $service-category-overview-paragraph-font-weight;
  line-height: 1.375;
  margin: 0;
}

.service-category-navigation {
  background: $body-background-color;
}

.service-category-inner-content {
  padding: em(41px) em(41px) 0;
}

.service-category-image {
  display: block;
}
