.service-wrap {
  background: transparent image-url('layout/services/header.jpg') no-repeat top center;
  padding: em(63px) 0 0;
}

.department {
  background: $department-header;
  color: $department-header-text-color;
  display: inline-block;
  font-size: em(16px);
  font-weight: $department-header-font-weight;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 0 0 em(30px, 16px);
  padding: em(30px, 16px) em(25px, 16px) em(15px, 16px);
  text-transform: uppercase;
}


.service-overview-content-wrap {
  background: $service-category-overview-background-color;
  border-top: 14px solid $department-header;
  margin: 0 0 em(81px);

  p {
    @extend %service-category-paragraph;
  }
}

.service-overview-content {
  padding: 0 em(51px) em(51px);

  p {
    &:first-of-type {
      font-size: em(18px);
      font-weight: $service-overview-content-high-emphasis-font-weight;
    }
  }

  li {
    @extend %service-category-paragraph;
    font-style: italic;
    font-weight: $service-overview-content-low-emphasis-font-weight;
  }
}

.service-overview-header {
  background: $service-overview-header-background;
  color: $service-overview-header-text-color;
  margin: 0 0 em(40px);
  position: relative;
  text-align: right;

  h1 {
    bottom: 44px;
    font-size: em(20px);
    font-weight: $service-overview-header-font-weight;
    left: 36px;
    margin: 0;
    max-width: 270px;
    position: absolute;
    text-align: left;
  }
}

.service-overview-read-more {
  @extend %read-more;
}

.service-overview-contact-methods {
  list-style: none;
  margin: 0 em(15px) 0 0;
}
