.service-wrap {
  background: transparent image-url('layout/services/header.jpg') no-repeat top center;
  padding: em(63px) 0 0;

  @include media('<desktop') {
    padding: em(10px);
  }
}

.department {
  background: $department-header;
  color: $department-header-text-color;
  display: inline-block;
  font-size: em(16px);
  font-weight: $department-header-font-weight;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 0 0 em(30px, 16px);
  padding: em(30px, 16px) em(25px, 16px) em(15px, 16px);
  text-transform: uppercase;
}


.service-overview-content-wrap,
.service-content-wrap {
  background: $service-category-overview-background-color;
  border-top: 14px solid $department-header;
  margin: 0 0 em(38px);

  p {
    @extend %service-category-paragraph;
  }
}

%service-content-style {
  p {
    &:first-of-type {
      font-size: em(18px);
      font-weight: $service-overview-content-high-emphasis-font-weight;
    }
  }

  li {
    @extend %service-category-paragraph;
    font-style: italic;
    font-weight: $service-overview-content-low-emphasis-font-weight;
  }
}

.service-overview-content,
.service-content {
  @extend %service-content-style;
  padding: 0 em(51px) em(51px);

  @include media('<tablet') {
    padding: 0 em(15px);
  }
}

.service-content {
  padding: em(40px) em(31px);

  @include media('<tablet') {
    padding: em(15px);
  }

  h1 {
    color: $service-content-header-color;
    font-size: em(34px);
    font-weight: $service-content-header;
    margin: 0 0 em(43px, 34px);

    @include media('<tablet') {
      margin: 0 0 em(22px, 34px);
    }
  }
}

.service-overview-header {
  background: $service-overview-header-background;
  color: $service-overview-header-text-color;
  position: relative;
  text-align: right;

  @include media('>=desktop') {
    min-height: 135px;
    margin: 0 0 em(40px);
  }

  @include media('<desktop') {
    padding: em(15px);
    margin: 0 0 em(15px);
  }

  h1 {
    bottom: 44px;
    font-size: em(20px);
    font-weight: $service-overview-header-font-weight;
    left: 36px;
    margin: 0;
    max-width: 270px;
    text-align: left;

    @include media('>=desktop') {
      position: absolute;
    }
  }

  img {
    float: right;
  }
}

.service-overview-read-more {
  @extend %read-more;
}

.service-overview-contact-methods {
  list-style: none;
  padding: 0 0 em(51px);

  @include media('<tablet') {
    padding: 0;
  }


  @include media('>=desktop') {
    margin: 0 em(15px) 0 0;
  }
}

.service-resources-wrap {
  margin: em(38px) 0;
}

.service-overview-fixed-contact-methods {
  @extend %clearfix;
  list-style: none;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;

  @include media('<desktop') {
    display: none;
  }

  li {
    background-position-x: 5px;
    float: left;
    width: 20%;

    a:link,
    a:visited,
    a:hover,
    a:active {
      font-size: em(12px);
      padding: em(30px, 12px) 0 em(23px, 12px) em(40px, 12px);
    }
  }

  .call-to-action-content-wrap {
    bottom: 65px;
    position: absolute;
    width: 100%;
  }

  .call-to-action-content-wrap {
    padding: em(30px) em(23px) em(10px);
  }
}

.service-navigation {
  background: $department-header;
  height: 100%;
}
