<div class="search-form collapse">
  <%= form_tag '' do %>
    <div class="small-8 medium-10 large-11 columns">
      <%= select_tag :search, options_for_select(OfficeLocation.all.map{|x| [x.name, x.id]}) %>
    </div>

    <div class="small-4 medium-2 large-1 column">
      <%= submit_tag 'Submit' %>
    </div>
  <% end %>
</div>
