<div class="row collapse">
  <div class="small-12 medium-5 columns">
    <div class="marketing-image-wrap">
      <%= link_to (image_tag 'layout/home/buying-a-house-cover.jpg', alt: ''), '#' %>
    </div>
  </div>

  <div class="small-12 medium-7 columns">
    <div class="marketing-campaign-content">
      <h5>Are you moving home?</h5>

      <p class="marketing-campaign-call-to-action">
        Read our free buying &amp; selling guides
      </p>

      <p>
        Expert guidance for buying and selling houses.
      </p>

      <%= link_to 'Read more', '#', class: 'marketing-read-more invalid-link' %>
    </div>
  </div>
</div>
