.client-area-toggle {
  @extend %clearfix;
  border-top: 5px solid $client-area-border-color;

  a {
    background: $client-area-button-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: em(12px);
    letter-spacing: 1px;
    margin: 0 em(10px, 12px) em(34px, 12px);
    padding: em(5px, 12px) em(50px, 12px) em(9px, 12px);
    text-transform: uppercase;

    &:link,
    &:visited {
      color: $client-area-button-text-color;
    }
  }
}

.client-area-content {
  background-color: $client-area-background;
  padding: em(71px);
}
