.homepage-downloads {
  background: $white;
  padding: em(20px) 0;
}

.download {
  background: $light-blue;
  color: $white;
  height: 100%;
  margin: em(5px);
  padding: em(15px) em(3px);
  text-align: center;

  @include media('>phone') {
    margin: 0 0 0 em(20px);
  }

  @include media('>tablet') {
    padding: em(33px);
  }

  &.grid {
    margin: 0;
  }
}

.download-image {
  box-shadow: 1px 1px 5px 0 rgba($black, .5);
}

.download-category,
.view-all-category {
  font-size: em(14px);
  font-weight: $open-sans-extrabold;
  letter-spacing: 1px;
  text-transform: uppercase;

  a {
    color: $white;
  }
}

.download-category {
  margin: em(18px) 0 em(10px);
}

%download-title {
  font-size: em(18px);
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.download-title {
  @extend %download-title;

  a {
    color: $white;
  }
}

.view-all-downloads {
  align-items: center;
  background: $green image-url('components/icons/downloads-ampersand.png') center no-repeat;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: em(5px);
  justify-content: center;
  text-align: center;

  @include media('>phone') {
    margin: 0 em(20px);
  }
}

.view-all-downloads {
  @extend %download-title;
  line-height: 1.5;
}
