.hero {
  background-image: linear-gradient(rgba($hero-gradient-start, .38), rgba($hero-gradient-end, .76)),
                    image-url('layout/home/hero-background.jpg');
  background-position: 0 0, 50% 100%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  position: relative;
  text-align: center;
}

.ie8 .hero,
.ie9 .hero {
  background-image: image-url('layout/home/hero-background.jpg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content-wrap {
  background: rgba($hero-gradient-start, .38);
  padding: em(160px) 0 em(220px);

  @include media('<tablet') {
    padding: em(20px);
  }
}

.ie8 .hero-content-wrap,
.ie9 .hero-content-wrap {
  background: rgba($hero-gradient-start, .38);
}

.hero-primary-title {
  color: $hero-title;
  font-family: $hero-title-font;
  font-size: em(30px);
  font-weight: $hero-title-font-weight;
  letter-spacing: 2px;
  line-height: 1.6;
  margin: 0;

  @include media('<tablet') {
    font-size: em(16px);
  }
}

.hero-secondary-title {
  color: $hero-accent-title;
  font-family: $hero-title-font;
  font-size: em(40px);
  font-weight: $hero-title-font-weight;
  margin: 0;

  span {
    display: inline-block;
  }

  .ampersand {
    background: transparent image-url('layout/home/ampersand.png') no-repeat;
    text-indent: -9999px;
    width: 64px;
    height: 60px;
  }
}

.hero-audience-wrap {
  margin-top: em(-127px);
  padding: 0 0 em(50px);

  @include media('<tablet') {
    margin-top: 0;
  }
}

.hero-audience {
  position: relative;
  cursor: pointer;  

  .state-normal {
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    display: block;
    min-height: 300px;
    padding: em(45px);
    width: 100%;

    @include media('<tablet') {
      padding: em(25px);
      min-height: inherit;
    }
  }

  .audience-type {
    border-bottom: 2px solid $hero-audience-title-border-color;
    color: $hero-audience-title-color;
    font-family: $hero-audience-font;
    font-size: em(13px);
    font-weight: $hero-audience-font-weight;
    margin-bottom: em(15px, 13px);
  }

  h3 {
    color: $hero-audience-service-title-color;
    font-family: $hero-audience-service-title-font;
    font-size: em(19px);
    font-weight: $hero-audience-service-title-font-weight;
    letter-spacing: 1px;
    margin: 0 0 em(18px, 19px);
    text-transform: uppercase;
  }

  p {
    color: $hero-audience-service-title-color;
    font-size: em(13px);
    margin: 0 0 em(20px, 13px);
    line-height: 1.7;
  }

  &.first {
    background: $hero-first-audience;
  }

  &.second {
    background: $hero-second-audience;
  }

  &.third {
    background: $hero-third-audience;
  }
}

.hero-audience .state-hover {
  background: $hero-audience-hover-background-color;
  border-bottom: 12px solid $hero-audience-hover-border-color;
  border-top: 12px solid $hero-audience-hover-border-color;
  height: 100%;
  left: 0;
  padding: em(45px);
  position: absolute;
  top: 0;
  width: 100%;

  .audience-type {
    color: $hero-audience-service-title-hover-color;
  }

  ul {
    list-style: none;
  }

  a {
    &:link,
    &:visited {
      color: $hero-audience-hover-link-color;
      display: block;
      font-family: $hero-audience-service-title-font;
      font-size: em(12px);
      margin: em(5px, 12px) 0;
    }

    &:hover,
    &:active {
      border-left: 6px solid $hero-audience-link-hover-border-color;
      padding-left: em(10px, 12px);
      text-decoration: none;
    }
  }
}
