.testimonials {
  font-family: $testimonial-font;
  text-align: center;
  position: relative;
  margin: 0 0 em(70px);

  p {
    font-size: em(12px);
    padding: 0 em(15px, 12px);
  }

  .testimonial-author {
    margin: em(13px, 13px) auto em(4px, 12px);
    color: $testimonial-author-color;
  }

  .testimonial-author-company {
    margin: 0 auto em(9px, 12px);
    color: $testimonial-author-color;
  }
}

.testimonial-author {
  font-weight: $testimonial-author-font-weight;
}

.testimonial-author-company {
  font-size: em(12px);
}

.quote-close {
  position: absolute;
  bottom: 60px;
  right: 20px;
}
