/*
  *= require octicons
  *= require slick.js/slick.scss
  *= require slick.js/slick-theme.scss
*/

@import 'vendor/foundation',
'vendor/normalize',
'lib/variables',
'lib/mixins',
'optimadmin/global/editor',
'layout/global',
'layout/header',
'layout/footer',
'layout/home',
'layout/call_to_action',
'layout/services',
'layout/service_categories',
'components/client_area',
'components/breadcrumbs',
'components/navigation',
'components/hero',
'components/testimonials',
'components/marketing_campaign',
'components/twitter',
'components/articles',
'components/partners',
'components/forms',
'vendor/animate',
'components/animation',
'vendor/slick-theme';
