/*
  *= require octicons
  *= require slick.js/slick.scss
  *= require slick.js/slick-theme.scss
*/

@import 'vendor/foundation',
'vendor/normalize',
'lib/variables',
'lib/mixins',
'vendor/include_media',
'optimadmin/global/editor',
'lib/placeholder_classes',
'layout/global',
'layout/header',
'layout/footer',
'layout/home',
'layout/call_to_action',
'layout/services',
'layout/service_categories',
'components/client_area',
'components/breadcrumbs',
'components/services/service_page_links',
'components/services/service_content_tabs',
'components/services/service_testimonials',
'components/services/service_twitter',
'components/services/service_downloads',
'components/services/service_people_helped',
'components/services/service_video',
'components/services/service_related_services',
'components/services/service_awards',
'components/activity_stream',
'components/navigation',
'components/hero',
'components/testimonials',
'components/marketing_campaign',
'components/team_members',
'components/events',
'components/twitter',
'components/articles',
'components/partners',
'components/forms',
'layout/responsive',
'vendor/animate',
'components/animation',
'vendor/slick_theme';
