<%= render 'optimadmin/shared/header/main_title', title: 'New Award' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: awards_path, title: 'Award' %>

  <%= render 'form', award: @award %>
</div>