<div class="testimonial">
  <div class="testimonial-content">
    <%= testimonial_presenter.recommendation %>
  </div>

  <div class="testimonial-author">
    <%= testimonial_presenter.author %>
  </div>

  <div class="testimonial-author-company">
    <%= testimonial_presenter.author_company %> 
  </div>
</div>
