<div class="testimonial">
  <div class="testimonial-content">
    <p>
      The speed, professionalism and depth of expertise that I have found
      within Harrison & Campbell in the space of ten minuets amazed me,
      the faith that I have in the advice given is absolute.
    </p>
  </div>

  <div class="testimonial-author">
    Francis King
  </div>
</div>
